<div>
  <div *ngIf="res" style="background:silver;padding:20px;text-align:center">
    <br />
    <br />
    <div class="panel panel-primary">
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr style="padding=15px;spacing=15px">
                <th>Company</th>
                <th>Month</th>
                <th>Change</th>
                <th>MSPR</th>
                <th>Trend</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of res" style="padding=15px;spacing=15px">
                <td>{{ item.symbol }}</td>
                <td>
                  {{ item.month > 2 ? 'Mar' : item.month < 2 ? 'Jan' : 'Feb' }}
                </td>

                <td>$ {{ item.change }}</td>
                <td>$ {{ item.mspr }}</td>

                <td>{{ item.mspr > 0 ? '+' : '-' }}</td>
                <!-- <td>
                  <img
                    [src]="item.mspr > 0 ? 'images/up.png' : 'images/down.png'"
                    width="50"
                    height="50"
                  />
                </td>
                <td><img [src]="showImage(item.mspr)" /></td> -->
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- <button (click)="showHideDiv(true)">Go Back</button> -->
  </div>
</div>
<router-outlet></router-outlet>
